body .Agda {
  color: #50FA7B; }

/* Aspects. */
.Agda a.Comment {
  color: #6272A4; }

.Agda a.Markup {
  color: #6272A4; }

.Agda a.Keyword {
  color: #FF79C6; }

.Agda a.String {
  color: #F1FA8C; }

.Agda a.Number {
  color: #f8f8f2; }

.Agda a.Symbol {
  color: #f8f8f2; }

.Agda a.PrimitiveType {
  color: #BD93F9; }

.Agda a.Pragma {
  color: #FF79C6; }

/* NameKinds. */
.Agda a.Bound {
  color: #f8f8f2; }

.Agda a.Generalizable {
  color: #50FA7B; }

.Agda a.InductiveConstructor {
  color: #BD93F9; }

.Agda a.CoinductiveConstructor {
  color: #BD93F9; }

.Agda a.Datatype {
  color: #BD93F9; }

.Agda a.Field {
  color: #BD93F9; }

.Agda a.Function {
  color: #50FA7B; }

.Agda a.Module {
  color: #f8f8f2; }

.Agda a.Postulate {
  color: #BD93F9; }

.Agda a.Primitive {
  color: #BD93F9; }

.Agda a.Record {
  color: #BD93F9; }

/* OtherAspects. */
.Agda a.UnsolvedMeta {
  color: #f8f8f2;
  background: #F1FA8C; }

.Agda a.UnsolvedConstraint {
  color: #f8f8f2;
  background: #F1FA8C; }

.Agda a.TerminationProblem {
  color: #f8f8f2;
  background: #FFA07A; }

.Agda a.IncompletePattern {
  color: #f8f8f2;
  background: #F5DEB3; }

.Agda a.Error {
  color: #FF5555;
  text-decoration: underline; }

.Agda a.TypeChecks {
  color: #f8f8f2;
  background: #ADD8E6; }

.Agda a.Deadcode {
  color: #f8f8f2;
  background: #808080; }

.Agda a.ShadowingInTelescope {
  color: #f8f8f2;
  background: #808080; }

/* Standard attributes. */
.Agda a {
  text-decoration: none; }

/* .Agda a[href]:hover { background-color: #B4EEB4 } */
/* .Agda [href].hover-highlight { background-color: #B4EEB4; } */
html {
  background-color: #282a36; }
